{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

    


        <h1>Ajouter une chanson</h1>
        {{ form_start(form) }}
            <div class="form-error">
                {{ form_errors(form) }}
            </div>

            <div class="form-group">
                {{ form_label(form.title) }}                
                {{ form_widget(form.title) }} 
                <div class="form-error">
                    {{ form_errors(form.title) }}            
                </div>               
            </div>
            <div class="form-group">
                {{ form_label(form.author) }}                
                {{ form_widget(form.author) }}  
                <div class="form-error">
                    {{ form_errors(form.author) }}            
                </div>              
            </div>
            <div class="form-group">
                {{ form_label(form.youtubeLink) }}                
                {{ form_widget(form.youtubeLink) }}  
                <div class="form-error">
                    {{ form_errors(form.youtubeLink) }}            
                </div>              
            </div>
            <div class="form-group">
                {{ form_label(form.mp3FilePath) }}                
                {{ form_widget(form.mp3FilePath) }}  
                <div class="form-error">
                    {{ form_errors(form.mp3FilePath) }}            
                </div>              
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{# {% block scripts %}
<script>
    // Fonction pour masquer le message flash après le délai spécifié
    function hideFlashMessage() {
        const flashMessages = document.querySelectorAll('.alert');
        flashMessages.forEach((message) => {
            const timer = parseInt(message.getAttribute('data-timer'));
            setTimeout(() => {
                message.style.display = 'none';
            }, timer);
        });
    }

    // Appel de la fonction au chargement de la page
    window.addEventListener('load', hideFlashMessage);
</script>
{% endblock %} #}
